<div class="border border-green-500 rounded-lg shadow-lg p-5" id="quick-routine-template-edit-form">
  <div class="text-center mb-5">
    <h3 class="text-lg-custom">ルーティンテンプレート編集</h3>
    <p class="text-gray-700 text-sm-custom">1clickで作成するルーティンの情報を変更できます</p>
  </div>

  <%= form_with model: quick_routine_template do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <!-- タイトルフォーム -->
    <div class="mb-3 text-plane-custom">
      <%= f.label      :title, 'タイトル：' %>
      <%= f.text_field :title, placeholder: 'タイトル(必須)', class: "input-form-custom w-full text-[10px] sm:text-sm" %>
    </div>

    <!-- descriptionフォーム -->
    <div class="mb-3 text-plane-custom">
      <%= f.label :description, '説明文：' %>
      <%= f.text_area :description, placeholder: "説明文（任意）", class: "textarea-sm-custom w-full text-[10px] sm:text-sm" %>
    </div>

    <!-- start_time -->
    <div class="mb-3 text-plane-custom">
      <%= f.label      :start_time, '開始時間：' %>
      <%= f.time_field :start_time, class: "time-form-sm-custom w-7/12 sm:w-3/12", min: "00:00", max: "23:59" %>
    </div>

    <div class="mb-3 text-plane-custom text-center">
      <%= f.submit '更新', class: "btn btn-md-custom btn-create-custom w-5/12 sm:btn-wide" %>
    </div>
  <% end %>
</div>
