<%= form_with model: routine, class:"text-center" do |f| %>
  <div class="mx-auto my-8">
    <%= f.text_field :title, class:"input input-bordered w-10/12 sm:text-lg lg:w-8/12 lg:min-h-16", placeholder: "タイトルを入力してください" %>
  </div>

  <div class="mx-auto my-8">
    <%= f.text_area :description, class:"textarea textarea-bordered w-10/12 min-h-10 sm:text-lg sm:min-h-32 lg:w-8/12", placeholder: "説明文を入力してください" %>
  </div>

  <div class="mx-auto my-8">
    <%= f.time_field :start_time, class:"input input-bordered w-8/12 text-lg text-center md:min-h-16 md:text-xl", min: "00:00", max: "23:59" %>
  </div>

  <%= f.submit nil, class:"btn bg-cyan-200 mb-5 w-6/12 text-base btn-md sm:btn-lg sm:text-lg lg:text-xl" %>
<% end %>