<%= form_with model: routine, class:"text-center" do |f| %>
  <div class="mx-auto my-8">
    <%= f.label :title, class: "mx-auto flex items-center gap-2 input input-bordered w-1/3" do %>
      <%= f.text_field :title, class:"grow", placeholder: "タイトルを入力してください" %>
    <% end %>
  </div>

  <div class="mx-auto my-8">
    <%= f.label :description, class: "mx-auto flex items-center gap-2 textarea textarea-bordered w-1/3" do %>
      <%= f.text_area :description, class:"grow", placeholder: "説明文を入力してください" %>
    <% end %>
  </div>

  <div class="mx-auto my-8">
    <%= f.label :start_time, class: "mx-auto flex items-center gap-2 input input-bordered w-1/3" do %>
      <%= f.time_field :start_time, class:"grow", min: "00:00", max: "23:59" %>
    <% end %>
  </div>

  <%= f.submit nil, class:"btn btn-outline btn-accent mb-5 w-1/3" %>
<% end %>