<%= form_with model: routine do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="my-3">
    <p class="font-semibold text-plane-custom">
      <span class="asterisk-custom">*</span>
      タイトル
    </p>
    <%= f.text_field :title, class:"text-form-md-custom input-form-custom", placeholder: "タイトル（必須）" %>
  </div>

  <div class="my-3">
    <p class="font-semibold text-plane-custom">説明文</p>
    <%= f.text_area :description, class:"text-form-md-custom textarea-custom py-2", placeholder: "説明文を入力してください（任意）" %>
  </div>

  <div class="my-3">
    <p class="font-semibold text-plane-custom">開始時間</p>
    <%= f.time_field :start_time, class: "time-form-md-custom text-sm lg:text-lg", min: "00:00", max: "23:59" %>
  </div>

  <%= f.submit nil, class:"my-5 btn-xl-custom btn-create-custom w-4/12" %>
<% end %>