<div id="routine-<%= routine.id %>">
  <div class="routine-zone-custom p-3 my-5 mx-auto w-11/12 md:w-9/12">

    <div class="items-center mb-3 sm:flex sm:justify-between sm:flex-wrap-reverse">
      <div class="flex justify-end gap-1 mb-3 sm:order-last sm:ml-auto sm:gap-3">
        <%= link_to "編集", edit_routine_path(routine), class: "btn-sm-custom btn-edit-custom",   id: "edit-routine-btn-#{routine.id}" %>
        <%= link_to "詳細", routine_path(routine),      class: "btn-sm-custom btn-show-custom",   id: "show-routine-btn-#{routine.id}" %>
        <%= link_to "削除", routine_path(routine),      class: "btn-sm-custom btn-delete-custom", id: "delete-routine-btn-#{routine.id}",
                                                        data: { turbo_method: :delete, turbo_confirm: "#{routine.title}を削除してもよろしいですか？" }
        %>
      </div>

      <!-- タイトル -->
      <h1 class="text-title-custom"><%= routine.title %></h1>
    </div>

    <!-- 説明文 (あれば表示) -->
    <% if routine.description.present? %>
      <div class="mb-3 routine-description-custom text-plane-custom">
        <p><%= routine.description %></p>
      </div>
    <% end %>

    <div class="flex justify-between mb-3">

      <!-- 開始時間など -->
      <div class="flex flex-col gap-2 sm:gap-1 text-plane-custom">
        <p>
          <span class="font-semibold">開始時間：</span><%= routine.start_time.strftime("%H:%M") if routine.start_time %>
        </p>

        <div id="total-estimated-time-for-routine-<%= routine.id %>">
          <%= render "routines/routine_total_estimated_time", routine: routine %>
        </div>

        <p>
          <span class="font-semibold">達成数　：</span><%= routine.completed_count %>
        </p>
      </div>

      <!-- 投稿/実践ボタン -->
      <div class="flex flex-col gap-2 sm:gap-1 sm:flex-row">
        <div id="routine-post-btn-<%= routine.id %>">
          <%= render "routines/routine_post_btn", routine: routine %>
        </div>

        <div id="routine-active-btn-<%= routine.id %>">
          <%= render "routines/routine_active_btn", routine: routine %>
        </div>
      </div>
    </div>

    <!--タスク一覧-->
    <details class="tasks-collapse-custom collapse collapse-plus">
      <summary class="tasks-collapse-title-custom text-plane-custom" id="tasks-display-btn-<%= routine.id %>">タスク一覧</summary>
      <ul class="collapse-content">
        <%= render partial: "routines/task", collection: routine.tasks.includes(:tags), locals: { routine: routine, tags: tags } %>
      </ul>
    </details>

  </div>
</div>