<div class="border border-amber-300 p-3 w-1/2 my-5 mx-auto bg-sky-100 bg-opacity-50">

  <div class="flex justify-between items-center mb-5 mx-3">
    <h1 class="text-3xl border-b border-cyan-300"><%= routine.title %></h1>
    <div class="flex">
      <%= link_to "編集", edit_routine_path(routine), class: "btn btn-outline btn-success btn-md mr-3" %>
      <%= link_to "詳細", routine_path(routine), class: "btn btn-outline btn-info btn-md mr-3" %>
      <%= link_to "削除", routine_path(routine), data: { turbo_method: :delete }, class: "btn btn-outline btn-error btn-md" %>
    </div>
  </div>

  <div class="mb-5 bg-white p-5">
    <p><%= routine.description %></p>
  </div>
  
  <div class="mb-5 items-center flex">
    <p class="mr-5 p-2 bg-gray-100">開始時間: <%= routine.start_time.strftime("%H:%M") if routine.start_time %></p>
    <p class="mr-5 p-2 bg-gray-100">目安達成時間:</p>
    <p class="mr-5 p-2 bg-gray-100">達成回数： <%= routine.completed_count %></p>
  </div>

  <div class="flex justify-end mb-5">
    <div class="flex">
      <% if routine.is_posted? %>
        <%= link_to "投稿済み", routines_post_path(routine), data: { turbo_method: :patch }, class: "btn btn-outline btn-default btn-md mx-3" %>
      <% else %>
        <%= link_to "投稿する", routines_post_path(routine), data: { turbo_method: :patch }, class: "btn btn-outline btn-info btn-md mx-3" %>
      <% end %>

      <% if routine.is_active? %>
        <%= link_to "実践中", routines_active_path(routine), data: { turbo_method: :patch }, class: "btn btn-outline btn-default btn-md" %>
      <% else %>
        <%= link_to "実践する", routines_active_path(routine), data: { turbo_method: :patch }, class: "btn btn-outline btn-accent btn-md" %>
      <% end %>
    </div>
  </div>
  <details class="collapse bg-white">
    <summary class="collapse-title font-medium">タスク一覧</summary>
    <div class="collapse-content">
      <%= render partial: "routines/task", collection: routine.tasks.order(position: :asc), locals: { routine: routine } %>
    </div>
  </details>

</div>