<div class="my-3">
  <%= form_with url: request.path, method: :get do |f| %>
    <div class="w-3/4 mx-auto">
      <div class="flex justify-center">
        <label class="input input-sm input-bordered flex items-center gap-2 text-sm px-1.5 grow sm:px-2 sm:input-md lg:px-3 lg:text-base">
          <%= f.text_field :user_words, placeholder: '検索ワード', value: user_words, class:"form-input grow" %>
          <button type="button" class="reset-button">
            <i class="i-uiw-circle-close-o w-5 h-5 block text-gray-500 hover:p-1 active:w-[20px] active:h-[20px]"></i>
          </button>
        </label>
        <%= f.submit '検索', id: "search-btn", class: "btn btn-sm bg-gradient-to-tl from-blue-500 to-blue-100  text-sm block sm:btn-md hover:opacity-80 hover:border hover:border-gray-600" %>
      </div>

      <%= select_tag 'auto_complete', options_for_select(@auto_complete_list), class: "hidden", id: "selectable-options" %>
      <div id="search-options">
      </div>

      <div class="flex justify-start my-2">
        <div class="mr-5 text-sm md:text-base">
          <p>並び替え</p>
          <%= f.select :column, @order_list, { selected: @column }, class: "sort-select-box select select-bordered select-sm text-sm" %>
          <%= f.select :direction, [['降順', nil], ['昇順', 'asc']], { selected: @direction }, class: "sort-select-box select select-bordered select-sm text-sm" %>
        </div>
        <div class="text-sm md:text-base">
          <p>絞り込み</p>
          <%= f.select :filter_target, @filter_options, { selected: @filter_target }, class: "sort-select-box select select-bordered select-sm text-sm" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
