<div class="my-3">
  <%= form_with url: request.path, method: :get do |f| %>
    <div class="flex justify-center mx-auto w-9/12">
      <label class="input input-sm input-bordered flex items-center gap-2 text-sm px-1.5 grow sm:px-2 sm:input-md lg:px-3 lg:text-base">
        <%= f.text_field :user_words, placeholder: '検索ワード', value: user_words, class:"form-input grow" %>
        <button type="button" class="reset-button">
          <i class="i-uiw-circle-close-o w-5 h-5 block text-gray-500 active:w-[20px] active:h-[20px]"></i>
        </button>
      </label>
      <%= f.submit '検索', id: "search-btn", class: "btn btn-sm btn-primary text-sm block sm:btn-md" %>
    </div>

    <div class="w-9/12 mx-auto my-3">
      <%= f.select :column, @order_list, { selected: @column }, class: "sort-select-box select select-bordered select-sm" %>
      <%= f.select :direction, [['降順', nil], ['昇順', 'asc']], { selected: @direction }, class: "sort-select-box select select-bordered select-sm" %>
    </div>
  <% end %>
</div>
