<li id="task_<%= task.id %>" class="list-group-item list-item <%= task_arrange_class %>" data-tip="ドラッグ&ドロップで並べ替え">
  <div class="task-zone-custom mb-3">
    <div class="flex justify-between items-center mb-1">

      <h1 class="text-plane-custom font-semibold">
        <%= task.title %>
      </h1>

      <% unless request.path == routines_path %>
        <!- タスクの編集/削除ボタン（ルーティン一覧では表示しない） -->
        <div class="flex-none">
          <button class="btn-sm-custom btn-edit-custom"
                  onclick="document.querySelector('#edit_task_form_<%= task.id %>').showModal()"
                  id="edit_task_btn_<%= task.id %>"
          >
            編集
          </button>
          
          <dialog id="edit_task_form_<%= task.id %>" class="modal">
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>

            <div class="modal-box">
              <%= render partial: "routines/task_form", locals: { task: task, routine: routine, tags: tags } %>
              <div class="modal-action mt-0">
                <form method="dialog">
                  <button class="btn">キャンセル</button>
                </form>
              </div>
            </div>
          </dialog>

          <%= link_to "削除", task_path(task), data: { turbo_method: :delete }, class: "btn-sm-custom btn-delete-custom", id: "task-delete-btn-#{task.id}" %>
        </div>
      <% end %>

    </div>

    <div class="flex flex-wrap items-center gap-1 mb-2 md:gap-3">
      <% task.tags.each do |tag| %>
        <p class="flex-none tag-zone-custom text-sm-custom">
          <%= tag.name %>
        </p>
      <% end %>
    </div>

    <div class="items-center flex justify-between">
      <div class="flex justify-start gap-1 text-sm-custom">
        <p>
          <%= task.estimated_time[:hour] %>h
        </p>
        <p>
          <%= task.estimated_time[:minute] %>m
        </p>
        <p>
          <%= task.estimated_time[:second] %>s
        </p>
      </div>

      <% unless request.path == routines_path %>
        <span class="flex justify-end gap-1 sm:gap-3">
          <%= link_to "↑", tasks_move_higher_path(task), data: { turbo_method: :patch }, class:"btn-sm-custom btn-show-custom ", id: "move-higher-btn-#{task.id}" %>
          <%= link_to "↓", tasks_move_lower_path(task), data: { turbo_method: :patch }, class:"btn-sm-custom btn-show-custom", id: "move-lower-btn-#{task.id}" %>
        </span>
      <% end %>
    
    </div>
  </div>

  <div class="hidden task-id"><%= task.id %></div>

  <%= form_with url: tasks_sort_path(task), method: "patch" do |f| %>
    <%= f.hidden_field :new_index, value: "", id: "form-new-index-#{task.id}" %>
    <%= f.submit nil, class: "hidden", id: "sort-btn-#{task.id}" %>
  <% end %>
</li>
