<div class="border border-green-300 p-2 mb-3">
  <div class="flex justify-between items-center mb-5 mx-3">
    <h1 class="text-xl border-b border-cyan-300"><%= task.title %></h1>
    <div class="flex">
      <button class="btn btn-outline text-blue-400 btn-sm mr-3" onclick="document.querySelector('#edit_task_form').showModal()">編集</button>
      <dialog id="edit_task_form" class="modal">
        <div class="modal-box">
          <h1 class="text-center text-xl mb-10">タスク編集</h1>
          <%= render partial: "routines/task_form", locals: { task: task, routine: routine } %>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn">キャンセル</button>
            </form>
          </div>
        </div>
      </dialog>
      <%= link_to "削除", "#", class: "btn btn-outline text-red-300 btn-sm" %>
    </div>
  </div>

  <div class="flex">
    <p class="mr-3">目安時間：</p>
    <p class="mx-2">
      <%= task.estimated_time[:hour] %> h
    </p>
    <p class="mx-2">
      <%= task.estimated_time[:minute] %> m
    </p>
    <p class="mx-2">
      <%= task.estimated_time[:second] %> s
    </p>
  </div>

</div>