<div class="border border-green-600 p-1 mb-3">
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-sm border-b border-cyan-300 font-semibold sm:text-base md:text-lg lg:text-xl"><%= task.title %></h1>
    <div>
      <button class="btn bg-gradient-to-tl from-green-300 to-green-100 border border-green-400 btn-sm min-h-10 text-sm md:text-base" onclick="document.querySelector('#edit_task_form_<%= task.id %>').showModal()">編集</button>
      <dialog id="edit_task_form_<%= task.id %>" class="modal">
        <div class="modal-box">
          <h1 class="text-center text-xl mb-10">タスク編集</h1>
          <%= render partial: "routines/task_form", locals: { task: task, routine: routine } %>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn">キャンセル</button>
            </form>
          </div>
        </div>
      </dialog>
      <%= link_to "削除", task_path(task), data: { turbo_method: :delete, turbo_confirm: '削除しますか？' }, class: "btn bg-gradient-to-tl from-red-600 to-red-200 border border-green-400 btn-sm min-h-10 text-sm md:text-base" %>
    </div>
  </div>
  <div class="text-xs items-center sm:text-sm sm:flex sm:justify-between md:text-md lg:text-lg">
    <div class="flex justify-start ">
      <p class="mr-1">目安時間：</p>
      <p class="mx-1">
        <%= task.estimated_time[:hour] %> h
      </p>
      <p class="mx-1">
        <%= task.estimated_time[:minute] %> m
      </p>
      <p class="mx-1">
        <%= task.estimated_time[:second] %> s
      </p>
    </div>
    <span class="flex justify-end mt-3 gap-1 sm:mt-0 sm:gap-3">
      <%= link_to "↑", tasks_move_higher_path(task), data: { turbo_method: :patch }, class:"btn bg-gradient-to-tl from-blue-300 to-blue-100 btn-sm sm:min-w-12 lg:btn-md lg:text-lg" %>
      <%= link_to "↓", tasks_move_lower_path(task), data: { turbo_method: :patch }, class:"btn bg-gradient-to-tl from-blue-300 to-blue-100 btn-sm sm:min-w-12 lg:btn-md lg:text-lg" %>
    </span>
  </div>
</div>