<div id="routine-index-page" class="mt-5">

  <div class="flex justify-between items-stretch px-2 mx-auto my-3 text-sm sm:w-9/12 md:text-lg">
    <div class="basis-1/2 flex">
      <%= link_to "←マイページ", my_pages_path, class: "text-green-600 hover:text-blue-400 hover:scale-110" %>
    </div>

    <div class="basis-1/2 flex justify-end gap-4">
      <%= link_to "新規作成→", new_routine_path,    class: "text-green-600 hover:text-blue-400 hover:scale-110" %>
      <%= link_to "投稿一覧→", routines_posts_path, class: "text-green-600 hover:text-blue-400 hover:scale-110" %>
    </div>
  </div>

  <%= render 'routines/search_form', user_words: @user_words %>
  
  <% if @routines.empty? %>
    <p class="my-10 text-center font-semibold sm:text-lg md:text-xl lg:text-2xl">
      <%= @user_words.nil? ? "ルーティンがありません\nルーティンを作成しましょう！！" : "一致するルーティンはありません" %>
    </p>
  <% else %>
    <%= render @routines, tags: @tags %>
  <% end %>
  
  <%= paginate @routines %>
</div>