<div class="breadcrumbs-container-custom">
  <ul>
    <li class="link-text-custom">
      <%= link_to 'マイページ', my_pages_path %>
    </li>
  
    <li>
      <span class="current-page-text-custom">My ルーティン</span>
    </li>
  </ul>
</div>

<div id="routine-index-page" class="mt-5">

  <%= render 'routines/search_form', user_words: @user_words %>
  
  <% if @routines.empty? %>
    <p class="my-10 text-center font-semibold sm:text-lg md:text-xl lg:text-2xl">
      <%= @user_words.nil? ? "ルーティンがありません\nルーティンを作成しましょう！！" : "一致するルーティンはありません" %>
    </p>
  <% else %>
    <%= render @routines, tags: @tags %>
  <% end %>
  
  <%= paginate @routines %>
</div>