<!-- パンくず -->
<div class="">
  <div class="breadcrumbs-container-custom">
    <ul>
      <li class="link-text-custom">
        <%= link_to 'マイページ', my_pages_path %>
      </li>
  
      <li>
        <span class="current-page-text-custom">新規作成</span>
      </li>
    </ul>
  </div>
  
  <h1 class="page-title-custom">ルーティン新規作成</h1>

  <div class="w-8/12 lg:w-7/12 mx-auto flex justify-end">
    <%= render 'shared/quick_routine_create_btn' %>
  </div>
  
  <div class="text-center">
    <%= render "form", routine: @routine %>
    <%= link_to "マイページへ", my_pages_path, class: "mb-5 btn-xl-custom btn-cansel-custom", id: "cancel-btn" %> <br>
    <%= link_to "Myルーティン一覧へ", routines_path, class: "link block link-text-custom text-lg-custom hover:scale-105" %>
  </div>
</div>

