<div class="p-3 my-5 mx-auto bg-gradient-to-tl from-sky-100/70 to-sky-50/70 w-11/12 md:w-9/12">
  <%= link_to "一覧に戻る", routines_path, class:"btn text-sm mb-5 bg-gradient-to-tl from-gray-300 to-gray-100 btn-md sm:text-base sm:min-w-28 md:btn-lg md:mb-10" %>
  <div class="items-center mb-5 sm:flex sm:justify-between sm:flex-wrap-reverse">
    <div class="flex justify-end gap-1 mb-3 sm:order-last sm:ml-auto sm:gap-3 md:gap-5">
      <%= link_to "編集", edit_routine_path(@routine), class: "min-h-10 btn bg-gradient-to-tl from-green-300 to-green-100 text-sm btn-md md:text-base" %>
      <%= link_to "削除", routine_path(@routine), data: { turbo_method: :delete, turbo_confirm: "#{@routine.title}を削除してもよろしいですか？" }, class: "min-h-10 btn bg-gradient-to-tl from-red-600 to-red-200 text-sm btn-md md:text-base" %>
    </div>
    <h1 class="break-words bg-gray-50/40 rounded-lg p-3 font-semibold border-b border-orange-200 my-2 text-2xl md:text-3xl lg:text-4xl"><%= @routine.title %></h1>
  </div>

  <div class="mb-5 mx-auto bg-gray-50/70 p-3 sm:p-5">
    <p><%= @routine.description %></p>
  </div>

  <div class="mb-5 mx-3 text-sm flex flex-col gap-2 sm:flex-row sm:justify-between sm:justify-start sm:mx-5 sm:gap-5 lg:text-base lg:gap-10 lg:mx-16">
    <p>開始時間: <%= @routine.start_time.strftime("%H:%M") if @routine.start_time %></p>
    <p>
      目安時間：
      <span>
        <%= @routine.total_estimated_time[:hour] %> h
      </span>
      <span>
        <%= @routine.total_estimated_time[:minute] %> m
      </span>
      <span>
        <%= @routine.total_estimated_time[:second] %> s
      </span>
    </p>
    <p>達成回数： <%= @routine.completed_count %></p>
  </div>
  
  <div class="text-center p-5 bg-gray-100">
    <div id="task_index">
      <%= render partial: "routines/task", collection: @tasks, locals: { routine: @routine } %>
    </div>
    <div id="add_task_btn">
      <%= render partial: 'routines/add_task_btn', locals: { routine: @routine, task: @task } %>
    </div>
  </div>
</div>



