<!-- パンくず -->
<div class="breadcrumbs-container-custom">
  <ul>
    <li class="link-text-custom">
      <%= link_to 'マイページ', my_pages_path %>
    </li>

    <li class="link-text-custom">
      <%= link_to 'My ルーティン', routines_path %>
    </li>

    <li>
      <span class="current-page-text-custom">詳細</span>
    </li>
  </ul>
</div>

<div class="p-3 mx-auto bg-green-50 rounded-lg w-11/12 md:w-9/12" id="routine-show-page">
  <!-- ルーティン情報/フォーム -->
  <div>
    <div id="routine-edit-form" class="hidden">
      <%= render 'routines/edit_form', routine: @routine %>
    </div>

    <div id="routine-info" class="">
      <%= render 'routines/routine_info', routine: @routine %>
    </div>
  </div>
  
  <div class="text-center p-5 bg-inherit">
    <!-- オートコンプリート用の隠し要素 -->
    <%= select_tag 'auto_complete',
      options_for_select(@all_task_names),
      class: "hidden",
      id: "all-task-names" 
    %>
    
    <!-- タスク一覧 -->
    <ul class="list-group" id="task-index">
      <%= render partial: "routines/task", collection: @tasks, locals: { routine: @routine, tags: @tags } %>
    </ul>

    <!-- タスク追加ボタン -->
    <div id="add_task_btn">
      <%= render partial: 'routines/add_task_btn', locals: { routine: @routine, task: @task, tags: @tags } %>
    </div>
  </div>
</div>
