<div class="max-w-screen flex-col mb-10">
  <h1 class="text-xl-custom my-5 text-center md:my-10">使い方</h1>

  <div class="border border-2 border-green-100 rounded-lg overflow-auto overscroll-x-none mx-auto md:w-11/12">
    <div class="md:flex ms:gap-5">
      <!-- Create -->
      <div class="htu-container-custom">
        <p class="htu-title-custom">
          ルーティンを<span class="text-sky-500">作成</span>しましょう！
        </p>

        <div class="mockup-phone mb-3 md:mb-8">
          <div class="camera-custom"></div>
          <div class="display">
            <div class="artboard artboard-demo">
              <%= image_tag 'create.png', class: "htu-image-custom" %>
            </div>
          </div>
        </div>

        <div class="htu-p-text-custom">
          <p>開始時刻や取り組みたいタスクを決めましょう！</p>
        </div>
      </div>

      <!-- MyPage -->
      <div class="htu-container-custom">
        <p class="htu-title-custom">
          ルーティンを<span class="text-sky-500">開始</span>しましょう！
        </p>

        <div class="mockup-phone mb-3 md:mb-8">
          <div class="camera-custom"></div>
          <div class="display">
            <div class="artboard artboard-demo">
              <%= image_tag 'my_page.png', class: "htu-image-custom" %>
            </div>
          </div>
        </div>

        <div class="htu-p-text-custom">
          <p>
            開始時刻になったらルーティンに取り組みましょう！
            LINEやメールで開始時刻を通知することもできます
          </p>
        </div>
      </div>

      <!-- Play -->
      <div class="htu-container-custom">
        <p class="htu-title-custom">
          タスクに<span class="text-sky-500">取り組み</span>ましょう！
        </p>
        <div class="mockup-phone mb-3 md:mb-8">
          <div class="camera-custom"></div>
          <div class="display">
            <div class="artboard artboard-demo">
              <%= image_tag 'playing.png', class: "htu-image-custom" %>
            </div>
          </div>
        </div>
        <div class="htu-p-text-custom">
          <p>
            ルーティンに設定されたタスクを1つずつこなしていきましょう！
          </p>
        </div>
      </div>

      <!-- Post -->
      <div class="htu-container-custom">
        <p class="htu-title-custom">
          ルーティンを<span class="text-sky-500">投稿</span>しましょう
        </p>
        <div class="mockup-phone mb-3 md:mb-8">
          <div class="camera-custom"></div>
          <div class="display">
            <div class="artboard artboard-demo">
              <%= image_tag 'posts.png', class: "htu-image-custom" %>
            </div>
          </div>
        </div>
        <div class="htu-p-text-custom">
          <p>
            自分のルーティンを他のユーザーと共有しましょう！
            他のユーザーのルーティンをコピーして取り組むこともできます
          </p>
        </div>
      </div>

      <!-- Reward -->
      <div class="htu-container-custom">
        <p class="htu-title-custom">
          <span class="text-sky-500">称号</span>を集めましょう
        </p>
        <div class="mockup-phone mb-3 md:mb-8">
          <div class="camera-custom"></div>
          <div class="display">
            <div class="artboard artboard-demo">
              <%= image_tag 'rewards.png', class: "htu-image-custom" %>
            </div>
          </div>
        </div>
        <div class="htu-p-text-custom">
          <p>
            毎日ルーティンに取り組んで、全ての称号を手に入れましょう♪
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
