<div class="hero min-h-screen bg-[url('morning_pc.jpg')]">
  <div class="hero-overlay bg-opacity-20"></div>
  <div class="hero-content text-center rounded-full bg-gradient-to-tl from-emerald-200/90 to-emerald-50/70 w-full aspect-square sm:w-96 sm:h-96 md:w-[500px] md:h-[500px]">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-sky-500 to-green-500 md:text-6xl">Morning<br>Forest</h1>
      <p class="text-gray-600 sm:text-lg md:text-xl mx-10 mb-5">モーニングルーティンを作成・共有して、最高の朝を目指しましょう！</p>
      
      <div class="mb-2">
        <%= link_to 'いますぐ試してみる', guest_login_path, data: { turbo_method: :post }, class:"btn bg-pink-300" %>
        <p class="text-xs text-gray-600">※登録なしでご利用できます</p>
      </div>

    </div>
  </div>
</div>

<div class="mx-auto bg-green-50 p-10">
  <div class="max-w-screen flex-col">
    <h1 class="text-2xl my-5 text-center sm:text-2xl md:text-4xl md:my-16">アプリの使い方</h1>

    <div class="overflow-auto overscroll-x-none mx-auto md:w-10/12">
      <div class="md:flex ms:gap-5">
        <div class="text-center mb-5 shadow-xl md:p-5">
          <p class="mb-3 font-medium sm:text-xl md:mb-5">
            ルーティンを<span class="text-sky-500">作成</span>しましょう！
          </p>

          <div class="mockup-phone mb-3 md:mb-8">
            <div class="camera max-w-0"></div>
            <div class="display">
              <div class="artboard artboard-demo">
                <%= image_tag 'create.png', class: "max-w-40 sm:max-w-60" %>
              </div>
            </div>
          </div>

          <div class="text-start w-52 mx-auto text-xs sm:text-base md:text-lg md:w-72">
            <p>開始時刻や取り組みたいタスクを決めましょう！</p>
          </div>
        </div>

        <div class="text-center mb-5 shadow-xl md:p-5">
          <p class="mb-3 font-medium sm:text-xl md:mb-5">
            ルーティンを<span class="text-sky-500">開始</span>しましょう！
          </p>

          <div class="mockup-phone mb-3 md:mb-8">
            <div class="camera max-w-0"></div>
            <div class="display">
              <div class="artboard artboard-demo">
                <%= image_tag 'my_page.png', class: "max-w-40 sm:max-w-60" %>
              </div>
            </div>
          </div>

          <div class="text-start w-52 mx-auto text-xs sm:text-base md:text-lg md:w-72">
            <p>
              開始時刻になったらルーティンに取り組みましょう！
              LINEやメールで開始時刻を通知することもできます
            </p>
          </div>
        </div>

        <div class="text-center mb-5 shadow-xl md:p-5">
          <p class="mb-3 font-medium sm:text-xl md:mb-5">
            タスクに<span class="text-sky-500">取り組み</span>ましょう！
          </p>
          <div class="mockup-phone mb-3 md:mb-8">
            <div class="camera max-w-0"></div>
            <div class="display">
              <div class="artboard artboard-demo">
                <%= image_tag 'playing.png', class: "max-w-40 sm:max-w-60" %>
              </div>
            </div>
          </div>
          <div class="text-start w-52 mx-auto text-xs sm:text-base md:text-lg md:w-72">
            <p>
              ルーティンに設定されたタスクを1つずつこなしていきましょう！
            </p>
          </div>
        </div>

        <div class="text-center mb-5 shadow-xl md:p-5">
          <p class="mb-3 font-medium sm:text-xl md:mb-5">
            ルーティンを<span class="text-sky-500">投稿</span>しましょう
          </p>
          <div class="mockup-phone mb-3 md:mb-8">
            <div class="camera max-w-0"></div>
            <div class="display">
              <div class="artboard artboard-demo">
                <%= image_tag 'posts.png', class: "max-w-40 sm:max-w-60" %>
              </div>
            </div>
          </div>
          <div class="text-start w-52 mx-auto text-xs sm:text-base md:text-lg md:w-72">
            <p>
              自分のルーティンを他のユーザーと共有しましょう！
              他のユーザーのルーティンをコピーして取り組むこともできます
            </p>
          </div>
        </div>

        <div class="text-center mb-5 shadow-xl md:p-5">
          <p class="mb-3 font-medium sm:text-xl md:mb-5">
            <span class="text-sky-500">称号</span>を集めましょう
          </p>
          <div class="mockup-phone mb-3 md:mb-8">
            <div class="camera max-w-0"></div>
            <div class="display">
              <div class="artboard artboard-demo">
                <%= image_tag 'rewards.png', class: "max-w-40 sm:max-w-60" %>
              </div>
            </div>
          </div>
          <div class="text-start w-52 mx-auto text-xs sm:text-base md:text-lg md:w-72">
            <p>
              毎日ルーティンに取り組んで、全ての称号を手に入れましょう♪
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>