<div class="posted-routine-zone-custom p-3 my-5 mx-auto w-11/12 md:w-9/12" id="posted-routine-<%= routine.id %>">

  <!-- 要素の1段目 -->
  <div class="items-center mb-1 sm:mb-3 flex justify-between">

    <!-- 投稿者のアイコン + 名前（クリックでModal表示） -->
    <%= render 'posted_user_info', routine: routine %>

    <!-- お気に入りボタン + コピーボタン -->
    <div class="flex-none flex justify-end gap-1 items-center sm:order-last sm:ml-auto sm:gap-3 md:gap-5">
      <span id="routine-like-btn-<%= routine.id %>">
        <%= render "routines/posts/routine_like_btn", routine: routine, liked_routine_ids: liked_routine_ids %>
      </span>

      <%= link_to "コピー", routine_copies_path(routine), data: { turbo_method: :post }, class: "btn-sm-custom btn-show-custom", id: "copy-btn-#{routine.id}" %>
    </div>
  </div>

  <!-- 2段目 -->
  <div class="flex flex-wrap mb-1 sm:mb-3">
    <h1 class="text-title-custom">
      <%= routine.title %>
    </h1>
  </div>

  
  <div class="mb-1 sm:mb-3 routine-description-custom text-plane-custom">
    <p><%= routine.description %></p>
  </div>
  
  <div class="mb-1 sm:mb-3 text-plane-custom sm:flex sm:justify-start sm:gap-5 sm:mx-3 lg:gap-10">
    
    <p class="">
      <span class="font-semibold">開始時間：</span>
      <%= routine.start_time.strftime("%H:%M") if routine.start_time %>
    </p>
    
    <p class="">
      <span class="font-semibold">目安時間：</span>
      <span>
        <%= routine.total_estimated_time[:hour] %> h
      </span>
      <span>
        <%= routine.total_estimated_time[:minute] %> m
      </span>
      <span>
        <%= routine.total_estimated_time[:second] %> s
      </span>
    </p>
  </div>

  <!--タスク一覧-->
  <details class="tasks-collapse-custom collapse collapse-plus">
    <summary class="tasks-collapse-title-custom text-plane-custom" id="tasks-display-btn-<%= routine.id %>" >
      タスク一覧
    </summary>
    
    <div class="collapse-content">
      <%= render partial: "routines/posts/task", collection: routine.tasks.includes(:tags), locals: { routine: routine } %>
    </div>
  </details>

</div>