<div class="flex items-center">
  <!-- アイコン画像： クリックで拡大表示 -->
  <button onclick="document.getElementById('user-icon-<%=routine.id%>').showModal()">
    <div class="avatar">
      <div class="rounded-full size-[20px] sm:size-[25px] lg:size-[35px]">
        <%= image_tag routine.user.avatar.url %>
      </div>
    </div>
  </button>
  
  <!-- ユーザー名 -->
  <p class="text-[0.5rem] md:text-xs"><%= routine.user.name %></p>
</div>

<dialog id="user-icon-<%=routine.id%>" class="modal">
  <div class="modal-box">
    <!-- 称号 -->
    <% if routine.user.feature_reward %>
      <div class="flex justify-center">
        <div class="stats shadow">
          <div class="stat place-items-center pb-0">
            <div class="card">
              <figure class="rounded-sm">
                <%= image_tag routine.user.feature_reward.image.url, class: "w-60" %>
              </figure>
              <div class="card-body items-center text-center px-3 py-1">
                <h2 class="card-title"><%= routine.user.feature_reward.name %></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Lvなどのデータ -->
    <div class="flex justify-center mt-2">
      <div class="stats shadow">
        <div class="stat place-items-center">

          <!-- アバター表示 -->
          <div class="stat-figure text-center">
            <div class="avatar">
              <div class="w-16 rounded-full lg:w-24">
                <%= image_tag routine.user.avatar.url %>
              </div>
            </div>
          </div>

          <!-- レベル表示 -->
          <div class="stat-title font-bold text-xl-custom"><%= routine.user.name %></div>
          <div class="stat-value text-emerald-600 text-xl-custom">Lv. <%= routine.user.level %></div>
          <div class="stat-desc"></div>
        </div>
      </div>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>