<div class="mb-3 task-zone-custom">
  <h1 class="mb-2 text-plane-custom font-semibold"><%= task.title %></h1>

  <div class="flex flex-wrap items-center gap-1 mb-2 md:gap-3">
    <% task.tags.each do |tag| %>
      <p class="flex-none tag-zone-custom text-sm-custom">
        <%= tag.name %>
      </p>
    <% end %>
  </div>

  <div class="text-sm-custom items-center flex gap-1 justify-start am:gap-3">
    <p>
      <%= task.estimated_time[:hour] %> h
    </p>
    <p>
      <%= task.estimated_time[:minute] %> m
    </p>
    <p>
      <%= task.estimated_time[:second] %> s
    </p>
  </div>
</div>