<div class="border border-green-300 p-1 mb-3">
  <h1 class="text-sm mb-2 font-semibold sm:text-base md:text-lg lg:text-xl"><%= task.title %></h1>

  <div class="text-xs items-center flex gap-1 justify-start sm:text-sm am:gap-3 md:text-md lg:text-lg">
    <p>目安時間：</p>
    <p>
      <%= task.estimated_time[:hour] %> h
    </p>
    <p>
      <%= task.estimated_time[:minute] %> m
    </p>
    <p>
      <%= task.estimated_time[:second] %> s
    </p>
  </div>

  <div class="flex flex-wrap items-center gap-1 my-1 text-xs sm:text-sm md:text-md md:gap-3 lg:text-lg">
    <% task.tags.each do |tag| %>
      <p class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1 flex-none"><%= tag.name %></p>
    <% end %>
  </div>

</div>