<div class="mt-5">
  <div class="flex justify-between items-stretch px-2 mx-auto my-3 text-sm sm:w-9/12 md:text-lg">
    <div class="basis-1/2 flex">
      <%= link_to "マイページ", my_pages_path, class: "hover:text-blue-400 hover:scale-110" %>
    </div>

    <div class="basis-1/2 flex justify-end">
      <%= link_to "My ルーティン", routines_path, class: "hover:text-blue-400 hover:scale-110" %>
    </div>
  </div>

  <%= render 'routines/search_form', user_words: @user_words %>

  <% if @routines.empty? %>
    <p class="my-10 text-center font-semibold sm:text-lg md:text-xl lg:text-2xl">投稿はありません</p>
  <% else %>
    <%= render partial: "routines/posts/posted_routine", collection: @routines, as: :routine, locals:{ liked_routine_ids: @liked_routine_ids } %>
  <% end %>
  <div class="mx-auto"><%= paginate @routines %></div>
</div>