<%= form_with model: user, class:"text-center" do |f| %>
  <div class="my-8">
    <%= f.label :name, "ユーザー名", class: "block font-semibold mb-2 sm:text-lg" %>
    <%= f.text_field :name, class: "block input input-bordered mx-auto w-8/12 md:text-lg lg:w-1/2", placeholder: "ユーザー名", value: user.name %>
  </div>

  <div class=" my-8 ">
    <%= f.label :email, "メールアドレス", class: "block font-semibold mb-2 sm:text-lg" %>
    <%= f.email_field :email, class:"block input input-bordered mx-auto w-8/12 md:text-lg lg:w-1/2", placeholder: "メールアドレス", value: user.email %>
  </div>

  <%= f.submit "更新", class:"btn bg-sky-400 mb-5 btn-md min-w-28 sm:text-lg sm:btn-lg sm:min-w-40 lg:min-w-60" %>
<% end %>