<!-- パンくず -->
<div class="breadcrumbs-container-custom">
  <ul>
    <li class="link-text-custom">
      <%= link_to 'マイページ', my_pages_path %>
    </li>
    <li>
      <span class="current-page-text-custom">プロフィール</span>
    </li>
  </ul>
</div>

<h1 class="page-title-custom">プロフィール</h1>

<div class="bg-green-50/40 rounded-lg w-11/12 mx-auto p-5 mb-5 sm:mb-10 border border-sky-300 sm:w-9/12 sm:px-10 lg:w-8/12">
  <div class="mb-3 mx-auto text-center">
    <div class="avatar">
      <div class="w-48 rounded-full">
        <%= image_tag current_user.avatar.url, id: "avatar-#{current_user.id}" %>
      </div>
    </div>
  </div>
  
  
  <div class="text-plane-custom">
    <div class="mb-3 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">名前:</p>
      <p class="break-all md:font-semibold"><%= current_user.name %></p>
    </div>

    <div class="mb-3 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">メール:</p>
      <p class="break-all md:font-semibold"><%= current_user.email %></p>
    </div>

    <div class="mb-3 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">レベル:</p>
      <p class="font-semibold"><%= current_user.level %></p>
    </div>

    <div class="mb-3 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">ルーティン達成回数:</p>
      <p class="font-semibold"><%= current_user.complete_routines_count %></p>
    </div>

    <div class="mb-3 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">通知設定:</p>
      <p class="font-semibold"><%= I18n.t("activerecord.attributes.user.notifications.#{current_user.notification}") %></p>
    </div>
  </div>

  <div class="text-center mb-3">
    <%= link_to "プロフィールを編集", edit_user_path(current_user), class: "btn-md-custom btn-edit-custom" %>
  </div>
</div>

<div class="bg-green-50/40 rounded-lg w-11/12 mx-auto p-5 border border-emerald-300 sm:w-9/12 sm:px-10 lg:w-8/12">
  <h3 class="text-center text-title-custom border-0 mb-5">週間レポート</h3>

  <%= render 'users/achieve_records', achieve_records: @achieve_records, routine_ids: @routine_ids %>
</div>