<h1 class="text-xl font-semibold my-5 text-center sm:text-3xl lg:text-4xl">プロフィール</h1>

<div class="bg-gradient-to-tl from-cyan-200/60 to-cyan-0/60 rounded-lg w-11/12 mx-auto p-5 border border-sky-300 sm:w-9/12 sm:p-10 lg:w-8/12">
  <%= image_tag current_user.avatar.url, class: 'rounded-circle my-2 mx-auto', size: '200x200' %>
  <div class="sm:text-lg md:text-xl">
    <div class="my-5 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">名前:</p>
      <p class="break-all md:font-semibold"><%= current_user.name %></p>
    </div>

    <div class="my-5 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">メール:</p>
      <p class="break-all md:font-semibold"><%= current_user.email %></p>
    </div>

    <div class="my-5 flex flex-row gap-2 items-center md:gap-4 sm:justify-center">
      <p class="flex-none font-medium">ルーティン達成回数:</p>
      <p class="font-semibold"><%= current_user.complete_routines_count %></p>
    </div>
  </div>

  <div class="text-center">
    <%= link_to "プロフィールを編集", edit_user_path(current_user), class: "btn bg-gradient-to-tl from-emerald-400 to-emerald-100 mb-5 btn-md min-w-28 md:text-lg md::btn-lg md:min-h-16 sm:min-w-40" %>
  </div>

  <div class="text-center">
    <%= link_to "戻る", my_pages_path, class:"btn bg-gradient-to-tl from-gray-400 to-gray-100 mx-auto min-w-20 md:text-lg md:btn-lg sm:max-w-36" %>
  </div>
</div>
