
<h1 class="text-center my-10 items-center text-3xl">プロフィール</h1>

<div class="w-1/2 mx-auto mt-20 border border-sky-300">
  <p class="my-5 text-center">
    ユーザー名：  <span class="text-xl"><%= current_user.name %></span>
  </p>

  <p class="my-5 text-center">
    メールアドレス：  <span class="text-xl"><%= current_user.email %></span>
  </p>

  <p class="my-5 text-center">
    ルーティン達成日数： <span class="text-xl"><%= current_user.complete_routines_count %></span>
  </p>
  <%= link_to "プロフィールを編集", "#", class:"btn btn-accent flex w-1/4 mx-auto my-5" %>
</div>

<div class="w-1/2 mx-auto">
  <%= link_to "戻る", root_path, class:"btn btn-outline flex w-1/4 mx-auto my-5" %>
</div>

