<div class="p-3 my-10 mx-auto w-11/12 sm:w-9/12">

  <div class="my-5 text-center rounded p-3">
    <h1 class="my-3 text-lg font-semibold lg:text-3xl">ルーティンを達成しました！</h1>
    <h1 class="text-xl text-center mx-auto sm:text-2xl lg:text-3xl">素敵な一日を!!</h1>
  </div>

  <div class="text-center my-3">
    <%= link_to "マイページへ", my_pages_path, class: "btn bg-gradient-to-tl from-pink-300 to-pink-100 btn-sm text-xs min-h-10 sm:min-w-32 sm:min-h-12 md:text-sm md:min-w-36 md:mx-auto lg:text-lg lg:btn-lg lg:w-44" %>
  </div>

  <div class="bg-gradient-to-tl from-pink-200/80 to-pink-50 rounded-lg p-3 flex flex-col gap-1 justify-center mb-5 mx-auto">
    <div class="mx-auto my-3">
      <p class="text-base font-semibold sm:text-lg md:text-xl">獲得経験値:</p>
      <% @tag_point_hash.each do |name, point| %>
        <p class="my-1 md:my-3" id="experience-<%= name %>">
          <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1 text-sm md:text-md md:text-lg"><%= name %></span>
          <span class="text-blue-500 text-sm font-bold md:text-md md:text-lg"><%= point %></span>
        </p>
      <% end %>
    </div>
    <p class="mx-auto text-center">
      <span class="text-base font-semibold sm:text-lg md:text-xl">ルーティン達成数</span><br>
      <span class="text-blue-500 text-base font-bold sm:text-lg md:text-xl"><%= current_user.complete_routines_count %></span>
    </p>
  </div>
</div>