<div class="p-3 mx-auto w-11/12 sm:w-9/12">

  <div class="text-center rounded">
    <h1 class="mb-3 page-title-custom">ルーティンを達成しました！</h1>
    <h1 class="page-title-custom font-medium">素敵な一日を!!</h1>
  </div>

  <div class="text-center mb-3">
    <%= link_to "マイページへ", my_pages_path, class: "btn-xl-custom btn-next-custom" %>
  </div>

  <div class="mb-5 bg-gradient-to-tl from-pink-200/80 to-pink-50 rounded-xl py-3 px-1 flex flex-col gap-1 justify-center mx-auto w-9/12">
    <div class="mx-auto mb-3">
      <p class="mx-auto text-center mb-3">
        <span class="text-title-custom">ルーティン達成数</span><br>
        <span class="text-blue-500 text-base font-bold sm:text-lg md:text-xl"><%= current_user.complete_routines_count %></span>
      </p>

      <p class="text-title-custom">獲得経験値:</p>
      <% @tag_point_hash.each do |name, point| %>
        <p class="my-1 md:my-3" id="experience-<%= name %>">
          <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1 text-sm md:text-md md:text-lg"><%= name %></span>
          <span class="text-blue-500 text-sm font-bold md:text-md md:text-lg"><%= point %></span>
        </p>
      <% end %>
    </div>
  </div>
</div>