<header>
  <div class="fixed top-0 z-50 w-full h-12 sm:h-16 md:h-20 lg:h-24 py-3 px-1 sm:px-3 md:px-5 flex justify-between items-center bg-gradient-to-t from-sky-50 to-sky-200">
    <%= link_to root_path, class:"btn btn-sm sm:btn-md lg:btn-lg w-28 sm:w-36 md:w-44 lg:w-48 btn-outline bg-white bg-opacity-30 text-green-600 hover:bg-green-500" do %>
      <p class="flex items-center">
        <%= image_tag "logo.jpg", class: "rounded h-6 sm:h-8 md:h-10 mr-1 sm:mr-2 md:mr-3" %>
        <span class="text-xs sm:text-sm md:text-base">Morning Forest</span>
      </p>
    <% end %>

    <div class="flex items-center">
      <%= link_to "ログイン", login_path, class:"mx-1 btn bg-gradient-to-tl from-emerald-300 to-emerald-100 btn-sm text-xs font-normal hover:opacity-60 sm:btn-md sm:mx-2 md:mx-3 lg:btn-lg" %>
      <%= link_to "新規登録", new_user_path, class:"mx-1 btn bg-gradient-to-tl from-cyan-400 to-cyan-100 btn-sm text-xs font-normal hover:opacity-60 sm:btn-md sm:mx-2 md:mx-3 lg:btn-lg" %>
      <%= link_to "お試し", "#", class:"hidden mx-1 btn bg-pink-300 max-w-20 btn-sm text-xs font-extralight" %>
    </div>
  </div>
</header>

