<header>
  <div class="p-3 flex justify-between items-center bg-sky-100">
    <%= link_to root_path, class:"btn btn-outline bg-white text-center text-black" do %>
      <%= image_tag "logo", size:"40x40" %>
      <p>
        Morning Routine Hub
      </p>
    <% end %>

    <div class="flex items-center ">
      <%= link_to "ログイン", "#", class:"mx-1.5 btn btn-outline bg-white text-black" %>
      <%= link_to "新規登録", "#", class:"mx-1.5 btn btn-outline bg-white text-black" %>
      <%= link_to "お試しログイン", "#", class:"mx-1.5 btn btn-outline bg-white text-black" %>
    </div>
  </div>
</header>

