<header>
  <div class="fixed top-0 z-10 w-full h-12 sm:h-16 md:h-20 lg:h-24 p-3 flex justify-between items-center bg-gradient-to-t from-sky-50 to-sky-200">
    <%= link_to root_path, class:"btn btn-sm sm:btn-md lg:btn-lg w-28 sm:w-36 md:w-44 lg:w-48 btn-outline bg-white text-green-600 hover:bg-green-500" do %>
      <p class="flex items-center">
        <%= image_tag "logo.jpg", class: "rounded h-6 sm:h-8 md:h-10 mr-1 sm:mr-2 md:mr-3" %>
        <span class="text-xs sm:text-sm md:text-base">Morning Forest</span>
      </p>
    <% end %>

    <div class="flex items-center ">
      <%= link_to "ログイン", login_path, class:"mx-1 btn btn-accent text-black btn-sm text-xs font-extralight" %>
      <%= link_to "新規登録", new_user_path, class:"mx-1 btn bg-cyan-400 btn-sm text-xs font-extralight" %>
      <%= link_to "お試し", "#", class:"hidden mx-1 btn bg-pink-300 max-w-20 btn-sm text-xs font-extralight" %>
    </div>
  </div>
</header>

