<header id="before-login-header" class="mb-12 sm:mb-14 md:mb-16">
  <div class="fixed top-0 z-50 w-full h-12 sm:h-14 md:h-16 py-3 px-1 sm:px-3 md:px-5 flex justify-between items-center bg-gradient-to-t from-sky-50 to-sky-200">

    <%= link_to root_path, class:"btn btn-sm sm:h-10 md:h-12 w-28 sm:w-36 md:w-44 btn-outline bg-white bg-opacity-30 text-green-600 hover:bg-green-500", id: "header-logo" do %>
      <p class="flex items-center">
        <%= image_tag "logo.jpg", class: "rounded h-6 sm:h-8 md:h-10 mr-1 sm:mr-2 md:mr-3" %>
        <span class="text-xs sm:text-sm md:text-base">Morning Forest</span>
      </p>
    <% end %>

    <div class="flex items-center">
      <%= link_to "ログイン", login_path,                                      class: "mx-1 btn bg-gradient-to-tl from-emerald-300 to-emerald-100 btn-sm text-xs md:text-sm font-normal hover:opacity-60 sm:h-10 sm:w-20 sm:mx-2 md:mx-3 md:h-12 md:w-24 flex" %>
      <%= link_to "新規登録", new_user_path,                                   class: "mx-1 btn bg-gradient-to-tl from-cyan-400    to-cyan-100    btn-sm text-xs md:text-sm font-normal hover:opacity-60 sm:h-10 sm:w-20 sm:mx-2 md:mx-3 md:h-12 md:w-24 hidden sm:flex" %>
      <%= link_to "お試し",   guest_login_path, data: { turbo_method: :post }, class: "mx-1 btn bg-gradient-to-tl from-pink-400    to-pink-100    btn-sm text-xs md:text-sm font-normal hover:opacity-60 sm:h-10 sm:w-20 sm:mx-2 md:mx-3 md:h-12 md:w-24 hidden sm:flex" %>
      
      <div class="drawer drawer-end mx-3 lg:mx-5 sm:hidden">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
          <label for="my-drawer-4" class="drawer-button btn btn-sm bg-green-50 text-xl font-light sm:btn-md sm:text-3xl lg:size-14 lg:text-4xl">≡</label>
        </div>
        <div class="drawer-side mt-12 sm:mt-16 md:mt-20 lg:mt-24">
          <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
          <ul class="menu text-base-content w-4/12 bg-green-50 rounded-box z-10 shadow text-black w-40 sm:w-4/12 md:w-48 lg:w-52">
            <li>
              <%= link_to "新規登録",       new_routine_path,                                class:"m-1 btn bg-gradient-to-tl from-cyan-300 to-cyan-100 btn-sm text-xs font-normal hover:opacity-60 sm:btn-md sm:mx-2 md:mx-3" %>
            </li>
            <li>
              <%= link_to "ログイン",       login_path,                                      class:"m-1 btn bg-gradient-to-tl from-emerald-300 to-emerald-100 btn-sm text-xs font-normal hover:opacity-60 sm:btn-md sm:mx-2 md:mx-3" %>
            </li>
            <li>
              <%= link_to "お試し利用", guest_login_path, data: { turbo_method: :post }, class:"m-1 btn bg-gradient-to-tl from-pink-300 to-pink-100 btn-sm text-xs font-normal hover:opacity-60 sm:btn-md sm:mx-2 md:mx-3" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

