<header>
  <div class="fixed top-0 z-10 w-full h-12 sm:h-16 md:h-20 lg:h-24 p-3 flex justify-between items-center bg-gradient-to-t from-sky-50 to-sky-200">
    <%= link_to root_path, class:"btn btn-sm sm:btn-md lg:btn-lg w-28 sm:w-36 md:w-44 lg:w-48 btn-outline bg-white text-green-600 hover:bg-green-500" do %>
      <p class="flex items-center">
        <%= image_tag "logo.jpg", class: "rounded h-6 sm:h-8 md:h-10 mr-1 sm:mr-2 md:mr-3" %>
        <span class="text-xs sm:text-sm md:text-base">Morning Forest</span>
      </p>
    <% end %>

    <div class="flex items-center ">
      <%= link_to "ログアウト", logout_path, class:"hidden md:btn md:btn-outline md:bg-gray-100 hover:bg-gray-500 md:text-gray-500 mx-3 max-w-32 lg:max-w-40 lg:btn-lg", data: { turbo_method: :delete } %>
      <%= link_to user_path(current_user), class: "hover:opacity-50 hover:border" do %>
        <%= image_tag "user_icon.jpg", class:"items-center mx-3 rounded-lg size-8 md:size-10 lg:size-12" %>
      <% end %>
      <div class="dropdown dropdown-end mx-3">
        <div tabindex="0">
          <%= image_tag "menu.jpg", class:"items-center rounded-lg size-8 md:size-10 lg:size-12" %>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-green-100 rounded-box z-10 w-40 p-2 shadow my-2 text-black">
          <li>
            <%= link_to "ルーティンを作成する", new_routine_path, class:"p-3 mb-2 text-xs" %>
          </li>
          <li>
            <%= link_to "投稿一覧を見る", routines_posts_path, class:"p-3 mb-2 text-xs" %>
          </li>
          <li>
            <%= link_to "マイページへ", root_path, class:"p-3 mb-2 text-xs" %>
          </li>
          <li>
            <%= link_to "退会する", "#", class:"text-red-400 p-3 mb-2 text-xs" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>