<header>
  <div class="p-3 flex justify-between items-center bg-sky-100">
    <%= link_to root_path, class:"btn btn-outline bg-white text-center text-black" do %>
      <%= image_tag "logo.jpg", size:"40x40" %>
      <p>
        Morning Routine Hub
      </p>
    <% end %>

    <div class="flex items-center ">
      <%= link_to "ログアウト", "#", class:"mx-2 btn btn-outline text-gray-500" %>
      <%= link_to "#" do %>
        <%= image_tag "user_icon.jpg", size:"50x50", class:"items-center mx-2" %>
      <% end %>
      <div class="dropdown dropdown-end mx-2">
        <div tabindex="0">
          <%= image_tag "menu.jpg", class:"items-center", size:"50x50" %>
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-green-100 rounded-box z-[1] w-52 p-2 shadow my-2 text-black">
          <li>
            <%= link_to "ルーティンを作成する", "#", class:"text-center p-3 mb-2" %>
          </li>
          <li>
            <%= link_to "投稿一覧を見る", "#", class:"text-center p-3 mb-2" %>
          </li>
          <li>
            <%= link_to "マイページへ", "#", class:"text-center p-3 mb-2" %>
          </li>
          <li>
            <%= link_to "退会する", "#", class:"text-center p-3 mb-2" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>