<div class="px-3 py-5 mx-auto bg-white w-11/12 sm:w-9/12">
  <div class="flex ">
    <div class="text-start">
      <%= link_to "×", my_pages_path, class:"btn-sm-custom btn-delete-custom" %>
    </div>

    <div class="text-center mx-auto">
      <h1 class="page-title-custom mb-3"><%= @task.title %></h1>
    </div>

    <div class="invisible">
      <span class:"btn-sm-custom btn-delete-custom">×</span>
    </div>
  </div>
 
  <!-- タグ -->
  <div class="mb-3 flex flex-wrap justify-center items-center gap-1 md:gap-3 w-9/12 sm:10/12 mx-auto">
    <% @task.tags.each do |tag| %>
      <p class="tag-zone-lg-custom flex-none"><%= tag.name %></p>
    <% end %>
  </div>

  <div class="bg-gradient-to-tl from-yellow-400/60 to-yellow-100/60 rounded-full flex justify-center items-center w-40 h-40 mb-3 mx-auto sm:w-44 sm:h-44 lg:w-48 lg:h-48">
    <div id="countdown-zone" class="text-xl-custom mx-auto p-3 flex justify-center gap-1">
      <p>
        <span id="hour" class="countdown-custom"><%= @task.estimated_time[:hour] %></span>
        :
      </p>

      <p>
        <span id="minute" class="countdown-custom"><%= @task.estimated_time[:minute] %></span>
        :
      </p>
      
      <p>
        <span id="second" class="countdown-custom"><%= @task.estimated_time[:second] %></span>
      </p>
    </div>
  </div>

  <div class="flex justify-center gap-2 mx-auto flex-col w-4/12">
    <%= link_to "達成", play_path(@routine, tag_ids: @task.tag_ids),
        data: { turbo_method: :patch },
        class: "btn-xl-custom btn-next-custom"
    %>

    <%= link_to "スキップ", play_path(@routine),
        data: { turbo_method: :patch },
        class: "btn-xl-custom btn-skip-custom"
    %>
  </div>
</div>
