<div class="w-1/4 my-5 text-center mx-auto border border-amber-200 rounded bg-amber-100 p-3">
  <h1 class="text-3xl "><%= @routine.title %></h1>
</div>

<div class="my-10 w-1/2 text-center mx-auto border border-green-200 rounded bg-sky-100">
  <div class="text-start">
    <%= link_to "x", root_path, class:"btn btn-sm btn-error m-5 mr-10" %>
  </div>
  <h1 class="text-3xl mb-10 bg-amber-100 rounded-full w-1/4 mx-auto p-3">
    <%= @task.title %>
  </h1>

  <p class="text-2xl my-10 bg-white rounded-full w-1/2 mx-auto p-3">
    <span class="text-3xl mr-3"><%= @task.estimated_time[:hour] %>h</span>
    <span class="text-3xl mr-3"><%= @task.estimated_time[:minute] %>m</span>
    <span class="text-3xl mr-3"><%= @task.estimated_time[:second] %>s</span>
  </p>
  
  <%= link_to "達成", play_path(@routine), data: { turbo_method: :patch }, class:"btn btn-lg bg-green-200 my-10 mx-3" %>
  <%= link_to "スキップ", play_path(@routine), data: { turbo_method: :patch }, class:"btn btn-lg bg-green-200 my-10 mx-3" %>
</div>
