<div class="p-3 my-3 mx-auto bg-gradient-to-tl from-yellow-100/80 to-white/90 rounded-lg sm:w-11/12 md:w-9/12">

  <div class="items-center mb-5 sm:flex sm:justify-between sm:flex-wrap-reverse">
    <div class="flex justify-end gap-3 flex-none sm:order-last sm:ml-auto">
      <%= link_to "編集", edit_routine_path(routine), class: "min-h-10 btn bg-gradient-to-tl from-green-300 to-green-100 text-sm btn-sm sm:btn-md md:text-base hover:from-green-100 hover:to-green-100 hover:text-gray-600" %>
      <%= link_to "詳細", routine_path(routine),      class: "min-h-10 btn bg-gradient-to-tl from-blue-300  to-blue-100  text-sm btn-sm sm:btn-md md:text-base hover:from-blue-100  hover:to-blue-100  hover:text-gray-600" %>
    </div>

    <h1 class="break-words text-lg font-semibold my-2 sm:text-xl md:text-2xl lg:text-3xl"><%= routine.title %></h1>
  </div>
  
  <div class="mb-5 text-xs text-gray-600 sm:flex sm:flex-row sm:justify-start sm:text-base sm:gap-5 md:text-lg lg:gap-10">
    <p class="">開始時間: <%= routine.start_time.strftime("%H:%M") if routine.start_time %></p>

    <p class="">
      合計時間:
      <span>
        <%= routine.total_estimated_time[:hour] %>h
      </span>
      <span>
        <%= routine.total_estimated_time[:minute] %>m
      </span>
      <span>
        <%= routine.total_estimated_time[:second] %>s
      </span>
    </p>

    <p class="">達成数: <%= routine.completed_count %></p>
  </div>

  <div class="text-center mb-16">
    <div class="text-center">
      <% if routine.tasks.empty? %>
        <div class="p-3 mx-auto bg-green-50/60 w-11/12 rounded-lg sm:p-5 lg:w-9/12 lg:p-10">
          <p class="mb-3 font-medium text-sm sm:text-base md:text-lg lg:text-xl">タスクを追加しましょう！</p>
          <%= link_to "タスク追加画面へ", routine_path(routine), class: "btn rounded-lg bg-gradient-to-tl from-cyan-300 to-cyan-50 text-sm lg:text-base lg:btn-wide" %>
        </div>

      <% else %>
        <%= link_to "スタート", routine_plays_path(routine), data: { turbo_method: :post }, class: "btn rounded-full mb-5 bg-gradient-to-tl from-green-400 to-green-100 hover:from-green-400 hover:to-green-400 hover:shadow-lg w-32 h-16 sm:w-36 sm:h-20 sm:text-lg md:w-40 md:h-24 md:text-xl lg:w-44 lg:h-28" %>

        <details class="collapse collapse-arrow bg-gradient-to-tl from-cyan-200 to-cyan-50 text-sm sm:text-base lg:text-lg">
          <summary class="collapse-title hover:bg-cyan-200 hover:font-medium">タスク 一覧</summary>
          <div class="collapse-content">
            <%= render partial: "task", collection: routine.tasks.includes(:tags).order(position: :asc), locals: { routine: routine } %>
          </div>
        </details>
      <% end %>
    </div>
  </div>

</div>