<div class="p-3 my-5 mx-auto bg-gradient-to-tl from-amber-200/60 to-amber-100/60 sm:w-11/12 md:w-9/12">

  <div class="items-center mb-5 sm:flex sm:justify-between sm:flex-wrap-reverse">
    <div class="flex justify-end gap-3 flex-none sm:order-last sm:ml-auto">
      <%= link_to "編集", edit_routine_path(routine), class: "min-h-10 btn bg-gradient-to-tl from-green-300 to-green-100 text-sm btn-sm sm:btn-md md:text-base" %>
      <%= link_to "詳細", routine_path(routine), class: "min-h-10 btn bg-gradient-to-tl from-blue-300 to-blue-100 text-sm btn-sm sm:btn-md md:text-base" %>
    </div>
    <h1 class="break-words text-lg font-semibold border-b border-orange-200 my-2 sm:text-2xl md:text-3xl lg:text-4xl"><%= routine.title %></h1>

  </div>
  
  <div class="mb-5 text-xs sm:flex sm:flex-row sm:justify-start sm:text-base sm:gap-5 md:text-lg lg:gap-10">
    <p class="">開始時間: <%= routine.start_time.strftime("%H:%M") if routine.start_time %></p>
    <p class="">
      目安時間: 
      <span>
        <%= routine.total_estimated_time[:hour] %>h
      </span>
      <span>
        <%= routine.total_estimated_time[:minute] %>m
      </span>
      <span>
        <%= routine.total_estimated_time[:second] %>s
      </span>
    </p>
    <p class="">達成数: <%= routine.completed_count %></p>
  </div>

  <div class="text-center mb-16">
    <div class="text-center">
      <% if routine.tasks.empty? %>
        <div class="p-3 mx-auto bg-green-50/60 w-11/12 rounded-lg sm:p-5 lg:w-9/12 lg:p-10">
          <p class="mb-3 font-medium text-sm sm:text-base md:text-lg lg:text-xl">タスクを追加しましょう！</p>
          <%= link_to "タスク追加画面へ", routine_path(routine), class: "btn rounded-lg bg-gradient-to-tl from-cyan-300 to-cyan-50 text-sm lg:text-base lg:btn-wide" %>
        </div>

      <% else %>
        <%= link_to "スタート", routine_plays_path(routine), data: { turbo_method: :post }, class: "btn rounded-full mb-5 bg-gradient-to-tl from-green-400 to-emerald-100 hover:bg-green-500 w-32 h-32 sm:w-36 sm:h-36 sm:text-xl md:h-40 md:w-40 md:text-xl lg:h-44 lg:w-44 lg:text-2xl" %>
        <details class="collapse bg-gradient-to-tl from-teal-200 to-teal-50 border border-green-200 items-center text-sm sm:text-base lg:text-lg">
          <summary class="collapse-title">タスク一覧</summary>
          <div class="collapse-content">
            <%= render partial: "task", collection: routine.tasks.includes(:tags).order(position: :asc), locals: { routine: routine } %>
          </div>
        </details>
      <% end %>
    </div>
  </div>

</div>