<div class=" p-3 my-5 mx-auto bg-orange-100 bg-opacity-50">

  <div class="items-center mb-5">
    <div class="flex justify-end">
      <%= link_to "編集", edit_routine_path(routine), class: "btn bg-green-300 btn-sm text-xs mr-3" %>
      <%= link_to "詳細", routine_path(routine), class: "btn bg-blue-200 btn-sm text-xs" %>
    </div>
    <h1 class="text-lg font-semibold border-b border-orange-200 my-2"><%= routine.title %></h1>

  </div>
  
  <div class="mb-5 items-center text-xs flex justify-between">
    <p class="border-b border-orange-200">開始時間: <%= routine.start_time.strftime("%H:%M") if routine.start_time %></p>
    <p class="border-b border-orange-200">目安達成時間:</p>
    <p class="border-b border-orange-200">達成回数： <%= routine.completed_count %></p>
  </div>

  <div class="text-center mb-3">
    <div class="text-center">
        <%= link_to "スタート", routine_plays_path(routine), data: { turbo_method: :post }, class: "btn rounded-full bg-green-300 btn-lg hover:bg-green-500" %>
    </div>
  </div>
  <details class="collapse bg-emerald-50 border border-green-200 items-center text-sm">
    <summary class="collapse-title">タスク一覧</summary>
    <div class="collapse-content">
      <%= render partial: "task", collection: routine.tasks.order(position: :asc), locals: { routine: routine } %>
    </div>
  </details>

</div>