<div class="routine-zone-custom p-3 my-3 mx-auto rounded-xl sm:w-11/12 md:w-9/12" id="routine-field">

  <div class="items-center mb-5 sm:flex sm:justify-between sm:flex-wrap-reverse">
    <div class="flex justify-end gap-3 flex-none sm:order-last sm:ml-auto">
      <%= link_to "編集", edit_routine_path(routine), class: "btn-edit-custom btn-md-custom mb-1" %>
      <%= link_to "詳細", routine_path(routine),      class: "btn-show-custom btn-md-custom mb-1" %>
    </div>

    <h1 class="text-title-custom"><%= routine.title %></h1>
  </div>

  <!-- 説明文 (あれば表示) -->
  <% if routine.description.present? %>
    <div class="mb-3 py-2 px-3 text-plane-custom">
      <p><%= routine.description %></p>
    </div>
  <% end %>
  
  <div class="mb-5 text-md-custom sm:flex sm:flex-row sm:justify-start sm:gap-5 lg:gap-10">
    <p class="">
      <span class="font-semibold">開始: </span>
      <%= routine.start_time.strftime("%H:%M") if routine.start_time %>
    </p>

    <p class="">
      <span class="font-semibold">合計: </span>
      <span>
        <%= routine.total_estimated_time[:hour] %>h
      </span>
      <span>
        <%= routine.total_estimated_time[:minute] %>m
      </span>
      <span>
        <%= routine.total_estimated_time[:second] %>s
      </span>
    </p>

    <p class="">
      <span class="font-semibold">達成数: </span>
      <%= routine.completed_count %>
    </p>
  </div>

  <div class="text-center mb-16">
    <div class="text-center">

      <% if routine.tasks.empty? %>
        <div class="p-3 mx-auto bg-green-50/60 w-11/12 rounded-lg sm:p-5 lg:w-9/12 lg:p-10">
          <p class="mb-3 font-medium text-sm sm:text-base md:text-lg lg:text-xl">タスクを追加しましょう！</p>
          <%= link_to "タスク追加画面へ", routine_path(routine), class: "btn rounded-lg bg-gradient-to-tl from-cyan-300 to-cyan-50 text-sm lg:text-base lg:btn-wide" %>
        </div>

      <% else %>

        <%= link_to "スタート", routine_plays_path(routine),
          data: { turbo_method: :post },
          class:  "btn rounded-full mb-5 bg-gradient-to-tl from-green-400 to-green-200  shadow-lg
                  hover:from-green-400 hover:to-green-400 hover:shadow-lg w-32 h-16 
                  sm:w-36 sm:h-20 sm:text-lg md:w-40 md:h-24 md:text-xl lg:w-44 lg:h-28"
        %>

        <details class="tasks-collapse-custom collapse collapse-plus" id="tasks-container">
          <summary class="tasks-collapse-title-custom text-plane-custom" id="tasks-display-btn-<%= routine.id %>">タスク一覧</summary>
          <div class="collapse-content">
            <%= render partial: "task", collection: routine.tasks.includes(:tags).order(position: :asc), locals: { routine: routine } %>
          </div>
        </details>
      <% end %>
    </div>
  </div>

</div>