<div class="border border-green-300 p-2 mb-3">
  <div class="flex justify-between items-center mb-5 mx-3">
    <h1 class="text-xl border-b border-cyan-300"><%= task.title %></h1>
    <div class="flex">
      <%= link_to "編集", "#", class: "btn btn-outline text-green-400 btn-sm mr-3" %>
      <%= link_to "削除", "#", class: "btn btn-outline text-red-300 btn-sm" %>
    </div>
  </div>
  <div class="flex">
    <p class="mr-3">目安時間：</p>
    <p class="mx-2">
      <%= task.estimated_time[:hour] %> h
    </p>
    <p class="mx-2">
      <%= task.estimated_time[:minute] %> m
    </p>
    <p class="mx-2">
      <%= task.estimated_time[:second] %> s
    </p>
  </div>

</div>