<div class="mt-3 task-zone-custom" id="task-field-<%= task.id %>">

  <div class="flex justify-start">
    <h1 class="text-plane-custom font-semibold mb-2">
      <%= task.title %>
    </h1>
  </div>

  <div class="flex flex-wrap items-center gap-1 mb-2 md:gap-3">
    <% task.tags.each do |tag| %>
      <p class="tag-zone-custom text-sm-custom">
        <%= tag.name %>
      </p>
    <% end %>
  </div>

  <div class="flex text-sm-custom items-center">
    <p class="mx-1">
      <%= task.estimated_time[:hour] %> h
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:minute] %> m
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:second] %> s
    </p>
  </div>
</div>