<div class="border border-green-200 p-2 mb-3">
  <div class="flex justify-between items-center mb-5 mx-3">
    <h1 class="text-sm border-b border-cyan-300 font-semibold sm:text-base md:text-lg lg:text-xl"><%= task.title %></h1>
    <div class="">
      <button class="btn bg-gradient-to-tl from-green-300 to-green-100 border border-green-400 btn-md text-sm md:text-base lg:btn-lg lg:text-lg" onclick="document.querySelector('#edit_task_form_in_mypage_<%= task.id %>').showModal()">編集</button>
      <dialog id="edit_task_form_in_mypage_<%= task.id %>" class="modal mx-auto">
        <div class="modal-box">
          <h1 class="text-center text-lg font-semibold mb-5 sm:text-xl md:text-2xl lg:text-3xl md:mb-10">タスク編集</h1>
          <%= render partial: "routines/task_form", locals: { task: task, routine: routine } %>
          <div class="modal-action">
            <form method="dialog">
              <button class="btn btn-sm bg-gray-200 text-sm border min-h-12 sm:btn-md sm:text-base md:min-h-16 lg:text-lg lg:btn-lg">キャンセル</button>
            </form>
          </div>
        </div>
      </dialog>
    </div>
  </div>
  <div class="flex text-xs sm:text-sm md:text-md lg:text-lg">
    <p class="font-medium mr-1">目安時間：</p>
    <p class="mx-1">
      <%= task.estimated_time[:hour] %> h
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:minute] %> m
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:second] %> s
    </p>
  </div>

</div>