<div class="border border-gray-400 rounded-lg p-1 mt-3 px-3">
  <div class="flex justify-between gap-2 items-center">
    <h1 class="text-xs font-semibold sm:text-sm md:text-base lg:text-lg"><%= task.title %></h1>
  </div>
  <div class="flex text-gray-600 text-xs md:text-base">
    <p class="font-medium mr-1">目安時間：</p>
    <p class="mx-1">
      <%= task.estimated_time[:hour] %> h
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:minute] %> m
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:second] %> s
    </p>
  </div>
  <div class="flex items-center gap-3 my-1 text-xs md:text-sm">
    <% task.tags.each do |tag| %>
      <p class="bg-gradient-to-tl from-amber-300 to-amber-100 rounded-lg p-1 md:px-2"><%= tag.name %></p>
    <% end %>
  </div>

</div>