<div class="border border-green-200 p-1 mb-3">
  <div class="flex justify-between gap-2 items-center mb-5 mx-3">
    <h1 class="text-sm border-b border-cyan-300 font-semibold sm:text-base md:text-lg lg:text-xl"><%= task.title %></h1>
  </div>
  <div class="flex text-xs sm:text-sm md:text-md lg:text-lg">
    <p class="font-medium mr-1">目安時間：</p>
    <p class="mx-1">
      <%= task.estimated_time[:hour] %> h
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:minute] %> m
    </p>
    <p class="mx-1">
      <%= task.estimated_time[:second] %> s
    </p>
  </div>
  <div class="flex items-center gap-3 my-1 text-xs sm:text-sm md:text-md lg:text-lg">
    <% task.tags.each do |tag| %>
      <p class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag.name %></p>
    <% end %>
  </div>

</div>