<div>
  <h1 class="text-center text-lg my-5 sm:text-xl md:text-2xl xl:test-3xl">おはようございます！<br class="md:hidden"><span class="font-semibold text-orange-400"><%= current_user.name %></span>さん</h1>
</div>

<!-- 実践中のルーティン表示 -->
<div class="my-3">
  <% if @routine %>
    <%= render "routine", routine: @routine %>
  <% else %>
    <div class="text-center items-center">
      <%= link_to routines_path, class:"items-center btn bg-gradient-to-tl from-amber-300 to-yellow-100 min-h-10 sm:btn-md lg:btn-lg" do %>
        <p class="text-md sm:text-lg lg:text-xl">ルーティンを実践中にしましょう！！</p>
      <% end %>
    </div>
  <% end %>
</div>

<!-- 経験値表示 -->
<div class="p-3 mt-3 mx-auto bg-gradient-to-tl from-green-200/60 to-green-100/60 sm:w-11/12 md:w-9/12" id="user-status">
  <!-- ユーザーのレベルを表示 -->
  <div class="flex justify-center" id="user-level-stat">
    <div class="stats shadow">
      <div class="stat place-items-center">

        <!-- アバター表示 -->
        <% if current_user.feature_reward %>
          <div class="stat-figure text-center">
            <div class="avatar">
              <div class="w-16 rounded lg:w-24">
                <%= image_tag current_user.feature_reward.image.url %>
              </div>
            </div>
            <div class="text-reward-custom text-sm-custom font-semibold max-w-20 lg:max-w-32"><%= current_user.feature_reward.name %></div>
          </div>
        <% end %>

        <!-- レベル表示 -->
        <div class="stat-title font-bold text-2xl">Level</div>
        <div class="stat-value text-emerald-600"><%= current_user.level %></div>
        <div class="stat-desc">
          次のレベルまであと
          <span class="font-semibold text-md-custom text-green-600"><%= @exp_to_next_level %></span>
          exp
        </div>
      </div>
    </div>
  </div>

  
  <h2 class="my-3 font-bold lg:text-xl">獲得経験値</h2>
  <!-- 経験値詳細 -->
  <div role="tablist" class="tabs tabs-lifted rounded-lg lg:tabs-lg" id="exp-tablist">
    <input type="radio" name="exp-tab" role="tab" class="tab text-xs sm:text-base" aria-label="全期間" checked="checked" />

    <div role="tabpanel" class="tab-content bg-base-100 rounded-box sm:p-6">
      <div class="px-1.5 py-3 sm:p-3 sm:border sm:rounded-lg" id="user-xp-total">
        <%= render 'exp_display', tag_exp_hash: @experience_data_all %>
      </div>
    </div>

    <input type="radio" name="exp-tab" role="tab" class="tab text-xs sm:text-base" aria-label="1ヶ月" />
    <div role="tabpanel" class="tab-content bg-base-100 rounded-box sm:p-6">
      <div class="px-1.5 py-3 sm:p-3 sm:border sm:rounded-lg" id="user-xp-monthly">
        <%= render 'exp_display', tag_exp_hash: @experience_data_month %>
      </div>
    </div>

    <input type="radio" name="exp-tab" role="tab" class="tab text-xs sm:text-base" aria-label="1週間" />
    <div role="tabpanel" class="tab-content bg-base-100 rounded-box sm:p-6">
      <div class="px-1.5 py-3 sm:p-3 sm:border sm:rounded-lg" id="user-xp-weekly">
        <%= render 'exp_display', tag_exp_hash: @experience_data_week %>
      </div>
    </div>
  </div>
</div>
