<div>
  <h1 class="text-center text-lg my-5 sm:text-xl md:text-2xl xl:test-3xl">おはようございます！<br class="md:hidden"><span class="font-semibold text-orange-400"><%= current_user.name %></span>さん</h1>
</div>

<div class="flex justify-center gap-1 sm:gap-2 sm:gap-4">
  <%= link_to 'ルーティン作成',  new_routine_path,      class: "btn bg-gradient-to-tl from-green-400 to-green-200  btn-sm text-[12px] leading-tight w-3/12 min-w-20 min-h-10 sm:w-32 sm:btn-md sm:text-sm md:text-base md:leading-none lg:min-h-14 lg:p-1 hover:shadow-md hover:from-green-200 hover:to-green-200 hover:text-gray-600 flex items-center justify-center" %>
  <%= link_to 'My ルーティン',  routines_path,         class: "btn bg-gradient-to-tl from-green-400  to-green-200  btn-sm  text-[12px] leading-tight w-3/12 min-w-20 min-h-10 sm:w-32 sm:btn-md sm:text-sm md:text-base                 lg:min-h-14 lg:p-1 hover:shadow-md hover:from-green-200 hover:to-green-200 hover:text-gray-600 flex items-center justify-center" %>
  <%= link_to '投稿を見る',     routines_posts_path,   class: "btn bg-gradient-to-tl from-green-400  to-green-200  btn-sm  text-[12px] leading-tight w-3/12 min-w-20 min-h-10 sm:w-32 sm:btn-md sm:text-sm md:text-base                 lg:min-h-14 lg:p-1 hover:shadow-md hover:from-green-200 hover:to-green-200 hover:text-gray-600      items-center justify-center" %>
  <%= link_to '称号一覧',       rewards_path,          class: "btn bg-gradient-to-tl from-pink-200   to-yellow-100  btn-sm  text-[12px] leading-tight w-3/12 min-w-20 min-h-10 sm:w-32 sm:btn-md sm:text-sm md:text-base                 lg:min-h-14 lg:p-1 hover:shadow-md hover:from-pink-100 hover:to-yellow-100 hover:text-gray-600      items-center justify-center hidden lg:flex" %>
</div>

<!-- 実践中のルーティン表示 -->
<div class="my-3">
  <% if @routine %>
    <%= render "routine", routine: @routine %>
  <% else %>
    <div class="text-center items-center">
      <%= link_to routines_path, class:"items-center btn bg-gradient-to-tl from-amber-300 to-yellow-100 min-h-10 sm:btn-md lg:btn-lg" do %>
        <p class="text-md sm:text-lg lg:text-xl">ルーティンを実践中にしましょう！！</p>
      <% end %>
    </div>
  <% end %>
</div>

<!-- 経験値表示 -->
<div class="p-3 mt-20 mx-auto bg-gradient-to-tl from-green-200/60 to-green-100/60 sm:w-11/12 md:w-9/12">
  <h2 class="my-3 font-bold lg:text-xl">獲得した経験値</h2>

  <!-- 全期間の経験値表示 -->
  <div class="p-3 border border-gray-400" id="user-xp-total">
    <h3 class="my-1 lg:text-lg">全期間</h3>
    <% @experience_data_all.each do |tag_name, experience_point| %>
      <li class="items-center my-2" id="tag-total-xp-<%= tag_name %>">
        <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag_name %></span>: 
        <span class="text-blue-500 font-semibold lg:text-lg"><%= experience_point %></span>
      </li>
    <% end %>
  </div>

  <div class="p-3 border border-gray-400" id="user-xp-monthly">
    <h3 class="my-1 lg:text-lg">1ヶ月間</h3>
    <% @experience_data_month.each do |tag_name, experience_point| %>
      <li class="items-center my-2" id="tag-monthly-xp-<%= tag_name %>">
        <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag_name %></span>: 
        <span class="text-blue-500 font-semibold lg:text-lg"><%= experience_point %></span>
      </li>
    <% end %>
  </div>

  <div class="p-3 border border-gray-400" id="user-xp-weekly">
    <h3 class="my-1 lg:text-lg">1週間</h3>
    <% @experience_data_week.each do |tag_name, experience_point| %>
      <li class="items-center my-2" id="tag-weekly-xp-<%= tag_name %>">
        <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag_name %></span>: 
        <span class="text-blue-500 font-semibold lg:text-lg"><%= experience_point %></span>
      </li>
    <% end %>
  </div>
</div>
