<div>
  <h1 class="text-center text-lg my-5 sm:text-xl md:text-2xl xl:test-3xl">おはようございます！<br class="md:hidden"><span class="font-semibold text-orange-400"><%= current_user.name %></span>さん</h1>
</div>

<!-- 実践中のルーティン表示 -->
<div class="my-3">
  <% if @routine %>
    <%= render "routine", routine: @routine %>
  <% else %>
    <div class="text-center items-center">
      <%= link_to routines_path, class:"items-center btn bg-gradient-to-tl from-amber-300 to-yellow-100 min-h-10 sm:btn-md lg:btn-lg" do %>
        <p class="text-md sm:text-lg lg:text-xl">ルーティンを実践中にしましょう！！</p>
      <% end %>
    </div>
  <% end %>
</div>

<!-- 経験値表示 -->
<div class="p-3 mt-3 mx-auto bg-gradient-to-tl from-green-200/60 to-green-100/60 sm:w-11/12 md:w-9/12">
  <!-- ユーザーのレベルを表示 -->
  <div class="flex justify-center">
    <div class="stats shadow bg-green-50">
      <div class="stat place-items-center">

        <!-- アバター表示 -->
        <div class="stat-figure">
          <div class="avatar">
            <div class="w-16 rounded-full lg:w-24">
              <%= image_tag current_user.avatar.url %>
            </div>
          </div>
        </div>

        <!-- レベル表示 -->
        <div class="stat-title font-bold text-green-600 text-xl">Level</div>
        <div class="stat-value text-emerald-600"><%= current_user.level %></div>
        <div class="stat-desc">
          次のレベルまであと
          <span class="font-semibold text-md-custom text-green-600"><%= @exp_to_next_level %></span>
          exp
        </div>
      </div>
    </div>
  </div>

  
  <h2 class="my-3 font-bold lg:text-xl">獲得した経験値</h2>

  <!-- 全期間の経験値表示 -->
  <div class="p-3 border border-gray-400" id="user-xp-total">
    <h3 class="my-1 lg:text-lg">全期間</h3>
    <% @experience_data_all.each do |tag_name, experience_point| %>
      <li class="items-center my-2" id="tag-total-xp-<%= tag_name %>">
        <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag_name %></span>: 
        <span class="text-blue-500 font-semibold lg:text-lg"><%= experience_point %></span>
      </li>
    <% end %>
  </div>

  <div class="p-3 border border-gray-400" id="user-xp-monthly">
    <h3 class="my-1 lg:text-lg">1ヶ月間</h3>
    <% @experience_data_month.each do |tag_name, experience_point| %>
      <li class="items-center my-2" id="tag-monthly-xp-<%= tag_name %>">
        <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag_name %></span>: 
        <span class="text-blue-500 font-semibold lg:text-lg"><%= experience_point %></span>
      </li>
    <% end %>
  </div>

  <div class="p-3 border border-gray-400" id="user-xp-weekly">
    <h3 class="my-1 lg:text-lg">1週間</h3>
    <% @experience_data_week.each do |tag_name, experience_point| %>
      <li class="items-center my-2" id="tag-weekly-xp-<%= tag_name %>">
        <span class="bg-gradient-to-tl from-amber-300 to-amber-50 rounded-lg p-1"><%= tag_name %></span>: 
        <span class="text-blue-500 font-semibold lg:text-lg"><%= experience_point %></span>
      </li>
    <% end %>
  </div>
</div>
