<!DOCTYPE html>
<html data-theme="light" class="h-full">
  <head>
    <title>Morning Forest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <!-- OGP -->
    <meta property="og:title" content="Morning Forest">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://morning-routine-hub-0de86cb64827.herokuapp.com">
    <meta property="og:image" content="<%= asset_url('morning_pc.jpg') %>">
    <meta property="og:site_name" content="マイページ">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <% if current_user %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>

    <div class="<%= bg_image_class %>">
      <div class="<%= shallow_bg_class %>">
        <div id="flash">
          <%= render "shared/flash" %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
