<!DOCTYPE html>
<html data-theme="light" class="h-full">

  <head>
    <%= favicon_link_tag 'favicon.jpg', type: 'image/jpg' %>
    <title>Morning Forest</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <%= render "layouts/ogp" %>
    <%= render "layouts/google_tag_script" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body class="h-full">

    <!-- Header -->
    <% if current_user %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <div class="">
      <div class="<%= shallow_bg_class %>">
        <!-- Flashメッセージ -->
        <div id="flash">
          <%= render 'shared/flash' %>
        </div>

        <!-- Main Content -->
        <%= yield %>

      </div>
    </div>

    <!-- Footer -->
    <%= render 'shared/footer' %>

    <% if current_user %>
      <%= render 'shared/nav_bottom' %>
    <% end %>
  </body>

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service_worker.js')
          .then((registration) => {
            console.log('Service Worker registered:', registration);
          })
          .catch((error) => {
            console.error('Service Worker registration failed:', error);
          });
      });
    }
  </script>
</html>
