<!DOCTYPE html>
<html data-theme="light" class="h-full">
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <% if current_user %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>

    <div class="min-h-screen bg-cover bg-[url('morning_phone.jpg')]  md:bg-[url('morning_pc.jpg')]">
      <div class="mt-12 sm:mt-16 md:mt-20 lg:mt-24 w-4/5 border h-full mx-auto bg-gray-100 bg-opacity-80">
        <%= render "shared/flash" unless flash.empty? %>
        <%= yield %>
      </div>
    </div>


  </body>
</html>
